In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [4]:
car=pd.read_csv("/content/quikr_car.csv")
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.shape

(892, 6)

In [6]:
sorted(car['year'].unique())

[', Ac',
 '...',
 '/-Rs',
 '150k',
 '1995',
 '2 bs',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 'D...',
 'EV2',
 'Eon',
 'SALE',
 'SELL',
 'Sumo',
 'TOUR',
 'Zest',
 'able',
 'ara)',
 'arry',
 'cab',
 'car',
 'cent',
 'd Ex',
 'd...',
 'digo',
 'e...',
 'emi',
 'go .',
 'k...',
 'n...',
 'no.',
 'o c4',
 'o...',
 'odel',
 'r 15',
 'r...',
 'sale',
 'sell',
 't xe',
 'tion',
 'ture',
 'zest',
 'zire']

In [7]:
sorted(car['Price'].unique())

['1,00,000',
 '1,05,000',
 '1,10,000',
 '1,14,990',
 '1,15,000',
 '1,20,000',
 '1,23,000',
 '1,25,000',
 '1,30,000',
 '1,35,000',
 '1,40,000',
 '1,45,000',
 '1,49,000',
 '1,50,000',
 '1,55,000',
 '1,55,555',
 '1,58,400',
 '1,59,000',
 '1,59,500',
 '1,60,000',
 '1,62,000',
 '1,65,000',
 '1,68,000',
 '1,69,500',
 '1,69,999',
 '1,70,000',
 '1,74,999',
 '1,75,000',
 '1,78,000',
 '1,79,000',
 '1,79,999',
 '1,80,000',
 '1,82,000',
 '1,85,000',
 '1,88,000',
 '1,89,000',
 '1,89,500',
 '1,89,700',
 '1,90,000',
 '1,95,000',
 '1,99,000',
 '1,99,999',
 '10,00,000',
 '10,25,000',
 '10,65,000',
 '10,74,999',
 '10,75,000',
 '11,30,000',
 '11,50,000',
 '12,00,000',
 '12,25,000',
 '12,99,000',
 '13,50,000',
 '14,00,000',
 '14,75,000',
 '14,90,000',
 '14,99,000',
 '15,00,000',
 '15,10,000',
 '15,25,000',
 '15,40,000',
 '15,99,000',
 '16,00,000',
 '17,25,000',
 '18,50,000',
 '18,91,111',
 '19,00,000',
 '2,00,000',
 '2,05,000',
 '2,09,000',
 '2,10,000',
 '2,15,000',
 '2,19,000',
 '2,20,000',
 '2,24,999',
 '2,25,000',
 '2,30,000',
 '2,35,000',
 '2,39,999',
 '2,40,000',
 '2,44,999',
 '2,45,000',
 '2,49,999',
 '2,50,000',
 '2,51,111',
 '2,55,000',
 '2,60,000',
 '2,65,000',
 '2,69,000',
 '2,70,000',
 '2,74,999',
 '2,75,000',
 '2,78,000',
 '2,80,000',
 '2,84,999',
 '2,85,000',
 '2,89,999',
 '2,90,000',
 '2,95,000',
 '2,99,000',
 '2,99,999',
 '20,00,000',
 '21,00,000',
 '21,90,000',
 '23,90,000',
 '28,00,000',
 '29,00,000',
 '3,00,000',
 '3,10,000',
 '3,11,000',
 '3,15,000',
 '3,20,000',
 '3,24,999',
 '3,25,000',
 '3,29,500',
 '3,30,000',
 '3,35,000',
 '3,40,000',
 '3,44,999',
 '3,45,000',
 '3,49,999',
 '3,50,000',
 '3,51,000',
 '3,55,000',
 '3,60,000',
 '3,65,000',
 '3,70,000',
 '3,71,500',
 '3,72,000',
 '3,74,999',
 '3,75,000',
 '3,79,000',
 '3,80,000',
 '3,81,000',
 '3,85,000',
 '3,89,700',
 '3,90,000',
 '3,95,000',
 '3,99,000',
 '3,99,999',
 '30,000',
 '31,00,000',
 '32,000',
 '35,000',
 '35,999',
 '39,999',
 '4,00,000',
 '4,01,000',
 '4,01,919',
 '4,05,000',
 '4,10,000',
 '4,15,000',
 '4,19,000',
 '4,24,000',
 '4,24,999',
 '4,25,000',
 '4,30,000',
 '4,35,000',
 '4,44,999',
 '4,48,000',
 '4,48,999',
 '4,49,999',
 '4,50,000',
 '4,65,000',
 '4,70,000',
 '4,74,999',
 '4,75,000',
 '4,80,000',
 '4,85,000',
 '4,88,000',
 '4,89,999',
 '4,90,000',
 '4,95,000',
 '4,98,000',
 '4,99,000',
 '4,99,999',
 '40,000',
 '42,000',
 '45,000',
 '48,000',
 '49,000',
 '5,00,000',
 '5,00,001',
 '5,01,000',
 '5,10,000',
 '5,19,000',
 '5,20,000',
 '5,24,999',
 '5,25,000',
 '5,30,000',
 '5,35,000',
 '5,40,000',
 '5,44,999',
 '5,48,900',
 '5,49,000',
 '5,49,900',
 '5,49,999',
 '5,50,000',
 '5,60,000',
 '5,65,000',
 '5,68,500',
 '5,69,999',
 '5,70,000',
 '5,74,999',
 '5,75,000',
 '5,80,000',
 '5,84,999',
 '5,90,000',
 '5,99,000',
 '5,99,999',
 '50,500',
 '51,999',
 '52,000',
 '53,000',
 '55,000',
 '57,000',
 '59,000',
 '6,00,000',
 '6,10,000',
 '6,15,000',
 '6,35,000',
 '6,44,999',
 '6,49,999',
 '6,50,000',
 '6,75,000',
 '6,89,999',
 '6,90,000',
 '6,99,000',
 '6,99,999',
 '60,000',
 '65,000',
 '68,000',
 '69,999',
 '7,00,000',
 '7,01,000',
 '7,15,000',
 '7,25,000',
 '7,30,000',
 '7,49,999',
 '7,50,000',
 '7,60,000',
 '7,70,000',
 '7,90,000',
 '7,95,000',
 '7,99,999',
 '70,000',
 '71,000',
 '72,500',
 '75,000',
 '8,00,000',
 '8,30,000',
 '8,49,999',
 '8,55,000',
 '8,60,000',
 '8,65,000',
 '8,95,000',
 '8,99,000',
 '80,000',
 '85,00,003',
 '85,000',
 '88,000',
 '9,00,000',
 '9,40,000',
 '9,44,999',
 '9,50,000',
 '9,70,000',
 '9,84,999',
 '90,000',
 '90,001',
 '95,000',
 '98,500',
 '99,000',
 '99,999',
 'Ask For Price']

In [8]:
sorted(car['company'].unique())

['2012',
 '7',
 '9',
 'Any',
 'Audi',
 'BMW',
 'Chevrolet',
 'Commercial',
 'Datsun',
 'Fiat',
 'Force',
 'Ford',
 'Hindustan',
 'Honda',
 'Hyundai',
 'I',
 'Jaguar',
 'Jeep',
 'Land',
 'MARUTI',
 'Mahindra',
 'Maruti',
 'Mercedes',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Renault',
 'Sale',
 'Skoda',
 'Swift',
 'TATA',
 'Tara',
 'Tata',
 'Toyota',
 'URJENT',
 'Used',
 'Volkswagen',
 'Volvo',
 'Well',
 'Yamaha',
 'all',
 'i',
 'scratch',
 'sell',
 'selling',
 'tata',
 'urgent',
 'very']

In [9]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [10]:
# convert to lower case and sort
sorted(car['name'].unique())

['2012 Tata Sumo Gold f',
 '7 SEATER MAHINDRA BOLERO IN VERY GOOD',
 '9 SEATER MAHINDRA BOL',
 'Any type car avaiabel hare...comercica',
 'Audi A3 Cabriolet 40 TFSI',
 'Audi A4 1.8 TFSI Multitronic Premium Plus',
 'Audi A4 2.0 TDI 177bhp Premium',
 'Audi A6 2.0 TDI Premium',
 'Audi A8',
 'Audi Q3 2.0 TDI quattro Premium',
 'Audi Q5 2.0 TDI quattro Premium Plus',
 'Audi Q7',
 'BMW 3 Series 320d Sedan',
 'BMW 3 Series 320i',
 'BMW 5 Series 520d Sedan',
 'BMW 5 Series 530i',
 'BMW 7 Series 740Li Sedan',
 'BMW X1',
 'BMW X1 sDrive20d',
 'BMW X1 xDrive20d xLine',
 'Chevrolet Beat',
 'Chevrolet Beat Diesel',
 'Chevrolet Beat LS Diesel',
 'Chevrolet Beat LS Petrol',
 'Chevrolet Beat LT Diesel',
 'Chevrolet Beat LT Opt Diesel',
 'Chevrolet Beat LT Petrol',
 'Chevrolet Beat PS Diesel',
 'Chevrolet Cruze LTZ',
 'Chevrolet Cruze LTZ AT',
 'Chevrolet Enjoy',
 'Chevrolet Enjoy 1.4 LS 8 STR',
 'Chevrolet Sail 1.2 LS',
 'Chevrolet Sail 1.2 LT ABS',
 'Chevrolet Sail UVA Petrol LT ABS',
 'Chevrolet Spark',
 'Chevrolet Spark 1.0 LT',
 'Chevrolet Spark LS 1.0',
 'Chevrolet Spark LT 1.0',
 'Chevrolet Spark LT 1.0 Airbag',
 'Chevrolet Tavera LS B3 10 Seats BSII',
 'Chevrolet Tavera Neo',
 'Commercial , DZire LDI, 2016, for sale',
 'Commercial Car Ta',
 'Commercial Chevrolet Sail Hatchback ca',
 'Commercial Chevrolet beat for sale in',
 'Commercial Maruti Suzuki Alto Lxi 800',
 'Datsun GO T O',
 'Datsun Go Plus',
 'Datsun Go Plus T O',
 'Datsun Redi GO',
 'Datsun Redi GO S',
 'Datsun Redi GO T O',
 'Fiat Linea Emotion 1.4 L T Jet Petrol',
 'Fiat Petra ELX 1.2 PS',
 'Fiat Punto Emotion 1.2',
 'Force Motors Force One LX ABS 7 STR',
 'Force Motors One SUV',
 'Ford EcoSport',
 'Ford EcoSport Ambiente 1.5L TDCi',
 'Ford EcoSport Titanium 1.5 TDCi',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Ford EcoSport Trend 1.5 Ti VCT',
 'Ford EcoSport Trend 1.5L TDCi',
 'Ford EcoSport Trend 1.5L Ti VCT',
 'Ford Endeavor 4x4 Thunder Plus',
 'Ford Fiesta',
 'Ford Fiesta SXi 1.6 ABS',
 'Ford Figo',
 'Ford Figo Diesel EXI',
 'Ford Figo Diesel EXI Option',
 'Ford Figo Duratorq Diesel Titanium 1.4',
 'Ford Figo Petrol LXI',
 'Ford Figo Petrol Titanium',
 'Ford Fusion 1.4 TDCi Diesel',
 'Ford Ikon 1.3 CLXi NXt Finesse',
 'Ford Ikon 1.3 Flair Josh 100',
 'Ford Ikon 1.6 Nxt',
 'Hindustan Motors Ambassador',
 'Hindustan Motors Ambassador Classic Mark 4 – Befo',
 'Honda Accord',
 'Honda Amaze',
 'Honda Amaze 1.2 E i VTEC',
 'Honda Amaze 1.2 S i VTEC',
 'Honda Amaze 1.2 VX i VTEC',
 'Honda Amaze 1.5 E i DTEC',
 'Honda Amaze 1.5 S i DTEC',
 'Honda Amaze 1.5 SX i DTEC',
 'Honda Brio',
 'Honda Brio V MT',
 'Honda Brio VX AT',
 'Honda City',
 'Honda City 1.5 E MT',
 'Honda City 1.5 EXi New',
 'Honda City 1.5 S Inspire',
 'Honda City 1.5 S MT',
 'Honda City 1.5 V AT',
 'Honda City 1.5 V MT',
 'Honda City 1.5 V MT Exclusive',
 'Honda City SV',
 'Honda City VX O MT Diesel',
 'Honda City VX Petrol',
 'Honda City ZX CVT',
 'Honda City ZX EXi',
 'Honda City ZX GXi',
 'Honda City ZX VTEC',
 'Honda Jazz S MT',
 'Honda Jazz VX MT',
 'Honda Mobilio',
 'Honda Mobilio S i DTEC',
 'Honda WR V S MT Petrol',
 'Hyun',
 'Hyunda',
 'Hyundai Accent',
 'Hyundai Accent Executive Edition',
 'Hyundai Accent GLE',
 'Hyundai Accent GLX',
 'Hyundai Creta',
 'Hyundai Creta 1.6 SX',
 'Hyundai Creta 1.6 SX Plus Petrol',
 'Hyundai Creta 1.6 SX Plus Petrol AT',
 'Hyundai Elantra 1.8 S',
 'Hyundai Elantra SX',
 'Hyundai Elite i20',
 'Hyundai Elite i20 Asta 1.2',
 'Hyundai Elite i20 Asta 1.4 CRDI',
 'Hyundai Elite i20 Magna 1.2',
 'Hyundai Elite i20 Sportz 1.2',
 'Hyundai Eon',
 'Hyundai Eon D Lite Plus',
 'Hyundai Eon Era Plus',
 'Hyundai Eon Magna',
 'Hyundai Eon Magna Plus',
 'Hyundai Eon Sportz',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Hyundai Getz',
 'Hyundai Getz GLE',
 'Hyundai Getz Prime 1.3 GLX',
 'Hyundai Getz Prime 1.3 GVS',
 'Hyundai Grand i10',
 'Hyundai Grand i10 Asta 1.1 CRDi',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
 'Hyundai Santro',
 'Hyundai Santro AE GLS Audio',
 'Hyundai Santro Xing',
 'Hyundai Santro Xing GL',
 'Hyundai Santro Xing GLS',
 'Hyundai Santro Xing XL AT eRLX Euro III',
 'Hyundai Santro Xing XL eRLX Euro III',
 'Hyundai Santro Xing XO eRLX Euro III',
 'Hyundai Santro Xing XS',
 'Hyundai Sonata Transform 2.4 GDi MT',
 'Hyundai Venue',
 'Hyundai Verna',
 'Hyundai Verna 1.4 VTVT',
 'Hyundai Verna 1.6 CRDI E',
 'Hyundai Verna 1.6 CRDI SX',
 'Hyundai Verna 1.6 CRDI SX Plus AT',
 'Hyundai Verna 1.6 EX VTVT',
 'Hyundai Verna 1.6 SX VTVT AT',
 'Hyundai Verna Fluidic',
 'Hyundai Verna Fluidic 1.6 VTVT SX',
 'Hyundai Verna Fluidic New',
 'Hyundai Verna Transform SX VTVT',
 'Hyundai Verna VGT CRDi SX ABS',
 'Hyundai Xcent Base 1.1 CRDi',
 'Hyundai Xcent S 1.2',
 'Hyundai Xcent SX 1.2',
 'Hyundai i10',
 'Hyundai i10 Era',
 'Hyundai i10 Magna 1.2',
 'Hyundai i10 Magna 1.2 Kappa2',
 'Hyundai i10 Sportz',
 'Hyundai i10 Sportz 1.2',
 'Hyundai i20',
 'Hyundai i20 Active',
 'Hyundai i20 Active 1.2 SX',
 'Hyundai i20 Active 1.4L SX O',
 'Hyundai i20 Asta',
 'Hyundai i20 Asta 1.2',
 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
 'Hyundai i20 Magna',
 'Hyundai i20 Magna 1.2',
 'Hyundai i20 Magna O 1.2',
 'Hyundai i20 Select Variant',
 'Hyundai i20 Sportz 1.2',
 'Hyundai i20 Sportz 1.4 CRDI',
 'I want to sell my car Tata Zest',
 'I want to sell my commercial car due t',
 'Jaguar XE XE Portfolio',
 'Jaguar XF 2.2 Diesel Luxury',
 'Jeep Wrangler Unlimited 4x4 Diesel',
 'Land Rover Freelander 2 SE',
 'MARUTI SUZUKI DESI',
 'MARUTI SUZUKI ERTIGA F',
 'Mahindra Bolero DI',
 'Mahindra Bolero DI BSII',
 'Mahindra Bolero Power Plus SLE',
 'Mahindra Bolero SLE BS IV',
 'Mahindra Jeep CL550 MDI',
 'Mahindra Jeep MM 550 XDB',
 'Mahindra KUV100',
 'Mahindra KUV100 K8 6 STR',
 'Mahindra KUV100 K8 D 6 STR',
 'Mahindra Logan',
 'Mahindra Logan Diesel 1.5 DLS',
 'Mahindra Quanto C4',
 'Mahindra Quanto C8',
 'Mahindra Scorpio',
 'Mahindra Scorpio 2.6 CRDe',
 'Mahindra Scorpio 2.6 SLX',
 'Mahindra Scorpio LX BS III',
 'Mahindra Scorpio S10',
 'Mahindra Scorpio S10 4WD',
 'Mahindra Scorpio S4',
 'Mahindra Scorpio SLE BS IV',
 'Mahindra Scorpio SLX',
 'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
 'Mahindra Scorpio VLX 2WD BS IV',
 'Mahindra Scorpio VLX 4WD Airbag',
 'Mahindra Scorpio VLX Airbag',
 'Mahindra Scorpio VLX Special Edition BS III',
 'Mahindra Scorpio Vlx BSIV',
 'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
 'Mahindra TUV300 T4 Plus',
 'Mahindra TUV300 T8',
 'Mahindra Thar CRDe 4x4 AC',
 'Mahindra XUV500',
 'Mahindra XUV500 W10',
 'Mahindra XUV500 W6',
 'Mahindra XUV500 W8',
 'Mahindra XUV500 W8 AWD 2013',
 'Mahindra Xylo D2',
 'Mahindra Xylo D2 BS IV',
 'Mahindra Xylo E4',
 'Mahindra Xylo E8',
 'Mahindra Xylo E8 BS IV',
 'Mahindra xyl',
 'Maruti Ertiga showroom condition with',
 'Maruti Suzuki 800',
 'Maruti Suzuki 800 Std BS III',
 'Maruti Suzuki A Star Lxi',
 'Maruti Suzuki Alto',
 'Maruti Suzuki Alto 800',
 'Maruti Suzuki Alto 800 LXI CNG O',
 'Maruti Suzuki Alto 800 Lx',
 'Maruti Suzuki Alto 800 Lxi',
 'Maruti Suzuki Alto 800 Select Variant',
 'Maruti Suzuki Alto 800 Vxi',
 'Maruti Suzuki Alto AX',
 'Maruti Suzuki Alto K10 LXi CNG',
 'Maruti Suzuki Alto K10 New',
 'Maruti Suzuki Alto K10 VXi',
 'Maruti Suzuki Alto K10 VXi AMT',
 'Maruti Suzuki Alto K10 VXi AT',
 'Maruti Suzuki Alto LX',
 'Maruti Suzuki Alto LX BSII',
 'Maruti Suzuki Alto LXi BS III',
 'Maruti Suzuki Alto Std BS IV',
 'Maruti Suzuki Alto vxi t',
 'Maruti Suzuki Baleno Delta 1.2',
 'Maruti Suzuki Baleno Sigma 1.2',
 'Maruti Suzuki Baleno Zeta 1.2',
 'Maruti Suzuki Celerio VDi',
 'Maruti Suzuki Ciaz VXi Plus',
 'Maruti Suzuki Ciaz ZXI Plus',
 'Maruti Suzuki Ciaz ZXi Plus RS',
 'Maruti Suzuki Dzire',
 'Maruti Suzuki Dzire LDI',
 'Maruti Suzuki Dzire VDI',
 'Maruti Suzuki Dzire ZXI',
 'Maruti Suzuki Eeco 5 STR WITH AC HTR',
 'Maruti Suzuki Eeco 7 STR',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Ertiga LDi',
 'Maruti Suzuki Ertiga VDi',
 'Maruti Suzuki Ertiga Vxi',
 'Maruti Suzuki Ertiga ZXI Plus',
 'Maruti Suzuki Ertiga ZXi',
 'Maruti Suzuki Esteem LXi BS III',
 'Maruti Suzuki Esteem VXi BS III',
 'Maruti Suzuki Estilo LX BS IV',
 'Maruti Suzuki Estilo VXi ABS BS IV',
 'Maruti Suzuki Maruti 800 AC',
 'Maruti Suzuki Maruti 800 Std',
 'Maruti Suzuki Maruti 800 Std – Befo',
 'Maruti Suzuki Omni',
 'Maruti Suzuki Omni 8 STR BS III',
 'Maruti Suzuki Omni E 8 STR BS IV',
 'Maruti Suzuki Omni LPG BS IV',
 'Maruti Suzuki Omni Limited Edition',
 'Maruti Suzuki Omni Select Variant',
 'Maruti Suzuki Ritz',
 'Maruti Suzuki Ritz GENUS VXI',
 'Maruti Suzuki Ritz LDi',
 'Maruti Suzuki Ritz VDi',
 'Maruti Suzuki Ritz VXI',
 'Maruti Suzuki Ritz VXI ABS',
 'Maruti Suzuki S Cross Sigma 1.3',
 'Maruti Suzuki SX4',
 'Maruti Suzuki SX4 Celebration Diesel',
 'Maruti Suzuki SX4 ZXI MT',
 'Maruti Suzuki Stingray VXi',
 'Maruti Suzuki Swift',
 'Maruti Suzuki Swift Dzire',
 'Maruti Suzuki Swift Dzire Tour (Gat',
 'Maruti Suzuki Swift Dzire Tour LDi',
 'Maruti Suzuki Swift Dzire Tour LXi',
 'Maruti Suzuki Swift Dzire Tour VDi',
 'Maruti Suzuki Swift Dzire Tour VXi',
 'Maruti Suzuki Swift Dzire VDi',
 'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
 'Maruti Suzuki Swift Dzire ZDi',
 'Maruti Suzuki Swift Dzire car',
 'Maruti Suzuki Swift Dzire good car fo',
 'Maruti Suzuki Swift GLAM',
 'Maruti Suzuki Swift LDi',
 'Maruti Suzuki Swift RS VDI',
 'Maruti Suzuki Swift Select Variant',
 'Maruti Suzuki Swift VDi',
 'Maruti Suzuki Swift VDi ABS',
 'Maruti Suzuki Swift VDi BS IV',
 'Maruti Suzuki Swift VXI BSIII',
 'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
 'Maruti Suzuki Swift VXi 1.2 BS IV',
 'Maruti Suzuki Swift Vdi BSIII',
 'Maruti Suzuki Swift ZXi 1.2 BS IV',
 'Maruti Suzuki Versa DX2 8 SEATER BSIII',
 'Maruti Suzuki Vitara Brezza',
 'Maruti Suzuki Vitara Brezza LDi O',
 'Maruti Suzuki Vitara Brezza ZDi',
 'Maruti Suzuki Wagon R',
 'Maruti Suzuki Wagon R 1.0',
 'Maruti Suzuki Wagon R 1.0 VXi',
 'Maruti Suzuki Wagon R AX BSIV',
 'Maruti Suzuki Wagon R Duo Lxi',
 'Maruti Suzuki Wagon R LX BS III',
 'Maruti Suzuki Wagon R LX BS IV',
 'Maruti Suzuki Wagon R LXI BS IV',
 'Maruti Suzuki Wagon R LXi BS III',
 'Maruti Suzuki Wagon R Select Variant',
 'Maruti Suzuki Wagon R VXI BS IV',
 'Maruti Suzuki Wagon R VXi BS III',
 'Maruti Suzuki Wagon R VXi Minor',
 'Maruti Suzuki Zen Estilo',
 'Maruti Suzuki Zen Estilo LXI Green CNG',
 'Maruti Suzuki Zen LX BSII',
 'Maruti Suzuki Zen LXi BS III',
 'Maruti Suzuki Zen LXi BSII',
 'Maruti Suzuki Zen VX',
 'Maruti Suzuki swift dzire for sale in',
 'Mercedes Benz A Class A 180 Sport Petrol',
 'Mercedes Benz B Class B180 Sports',
 'Mercedes Benz C Class 200 CDI Classic',
 'Mercedes Benz C Class 200 K MT',
 'Mercedes Benz C Class C 220 CDI Avantgarde',
 'Mercedes Benz GLA Class 200 CDI Sport',
 'Mini Cooper S',
 'Mini Cooper S 1.6',
 'Mitsubishi Lancer 1.8 LXi',
 'Mitsubishi Pajero Sport 2.5 AT',
 'Mitsubishi Pajero Sport Limited Edition',
 'Nissan Micra XL',
 'Nissan Micra XV',
 'Nissan Sunny',
 'Nissan Sunny XL',
 'Nissan Terrano XL D Plus',
 'Nissan X Trail Select Variant',
 'Renault Duster',
 'Renault Duster 110 PS RxL Diesel',
 'Renault Duster 110 PS RxZ Diesel',
 'Renault Duster 110 PS RxZ Diesel Plus',
 'Renault Duster 110PS Diesel RxZ',
 'Renault Duster 85 PS RxE Diesel',
 'Renault Duster 85 PS RxL Diesel',
 'Renault Duster 85 PS RxL Explore LE',
 'Renault Duster 85PS Diesel RxL Optional with Nav',
 'Renault Duster RxL Petrol',
 'Renault Kwid',
 'Renault Kwid 1.0',
 'Renault Kwid 1.0 RXT AMT',
 'Renault Kwid RXT',
 'Renault Kwid RXT Opt',
 'Renault Lodgy',
 'Renault Lodgy 85 PS RXL',
 'Renault Scala RxL Diesel',
 'Renault Scala RxL Diesel Travelogue',
 'Sale Hyundai xcent commerc',
 'Sale tata',
 'Skoda Fabia',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Skoda Fabia 1.2L Diesel Elegance',
 'Skoda Fabia Classic 1.2 MPI',
 'Skoda Laura',
 'Skoda Octavia Classic 1.9 TDI MT',
 'Skoda Rapid Elegance 1.6 TDI CR MT',
 'Skoda Superb 1.8 TFSI AT',
 'Skoda Yeti Ambition 2.0 TDI CR 4x2',
 'Swift Dzire Tour 27 Dec 2016 Regis',
 'TATA INDI',
 'Ta',
 'Tata',
 'Tata Aria Pleasure 4X2',
 'Tata Bolt XM Petrol',
 'Tata Indica',
 'Tata Indica V2',
 'Tata Indica V2 DLE BS III',
 'Tata Indica V2 DLG',
 'Tata Indica V2 DLS BS III',
 'Tata Indica V2 DLX BS III',
 'Tata Indica V2 LS',
 'Tata Indica V2 Xeta e GLE',
 'Tata Indica V2 eLS',
 'Tata Indica eV2 LS',
 'Tata Indica eV2 eXeta eGLX',
 'Tata Indigo CS',
 'Tata Indigo CS GLS',
 'Tata Indigo CS LS DiCOR',
 'Tata Indigo CS eLS BS IV',
 'Tata Indigo CS eLX BS IV',
 'Tata Indigo LS',
 'Tata Indigo LX TDI BS III',
 'Tata Indigo Marina LS',
 'Tata Indigo eCS',
 'Tata Indigo eCS LS CR4 BS IV',
 'Tata Indigo eCS LX CR4 BS IV',
 'Tata Indigo eCS LX TDI BS III',
 'Tata Indigo eCS VX CR4 BS IV',
 'Tata Manza',
 'Tata Manza Aqua Quadrajet',
 'Tata Manza Aura Quadrajet',
 'Tata Manza ELAN Quadrajet',
 'Tata Nano',
 'Tata Nano Cx BSIV',
 'Tata Nano GenX XMA',
 'Tata Nano LX Special Edition',
 'Tata Nano Lx BSIV',
 'Tata Nexon',
 'Tata Sumo Gold EX BS IV',
 'Tata Sumo Gold FX BSIII',
 'Tata Sumo Gold LX BS IV',
 'Tata Sumo Gold Select Variant',
 'Tata Sumo Grande MKII GX',
 'Tata Sumo Victa EX 10 by 7 Str BSIII',
 'Tata Tiago Revotorq XZ',
 'Tata Tiago Revotron XM',
 'Tata Tiago Revotron XZ',
 'Tata Tigor Revotron XZ',
 'Tata Venture EX 8 STR',
 'Tata Vista Quadrajet VX',
 'Tata ZEST 6 month old',
 'Tata Zest 90',
 'Tata Zest Quadrajet 1.3',
 'Tata Zest XE 75 PS Diesel',
 'Tata Zest XM Diesel',
 'Tata indigo',
 'Tata indigo 2017 top model..',
 'Tata indigo ecs LX, 201',
 'Tata zest x',
 'Toyota Corolla',
 'Toyota Corolla Altis',
 'Toyota Corolla Altis 1.8 GL',
 'Toyota Corolla Altis 1.8 J',
 'Toyota Corolla Altis Diesel D4DG',
 'Toyota Corolla Altis GL Petrol',
 'Toyota Corolla Altis Petrol Ltd',
 'Toyota Corolla Altis VL AT Petrol',
 'Toyota Corolla H2',
 'Toyota Etios',
 'Toyota Etios G',
 'Toyota Etios GD',
 'Toyota Etios Liva',
 'Toyota Etios Liva Diesel',
 'Toyota Etios Liva G',
 'Toyota Etios Liva GD',
 'Toyota Fortuner',
 'Toyota Fortuner 3.0 4x2 MT',
 'Toyota Fortuner 3.0 4x4 MT',
 'Toyota Innova 2.0 G 8 STR BS IV',
 'Toyota Innova 2.0 G1 Petrol 8seater',
 'Toyota Innova 2.0 G4',
 'Toyota Innova 2.0 V',
 'Toyota Innova 2.5 E 8 STR',
 'Toyota Innova 2.5 E MS 7 STR BS IV',
 'Toyota Innova 2.5 G BS III 8 STR',
 'Toyota Innova 2.5 GX BS IV 7 STR',
 'Toyota Innova 2.5 V 7 STR',
 'Toyota Innova 2.5 Z Diesel 7 Seater',
 'Toyota Qualis',
 'URJE',
 'Used Commercial Maruti Omn',
 'Used bt new conditions ta',
 'Volkswagen Jetta Comfortline 1.9 TDI AT',
 'Volkswagen Jetta Highline TDI AT',
 'Volkswagen Passat Diesel Comfortline AT',
 'Volkswagen Polo',
 'Volkswagen Polo Comfortline 1.2L P',
 'Volkswagen Polo Highline Exquisite P',
 'Volkswagen Polo Highline1.2L P',
 'Volkswagen Polo Trendline 1.5L D',
 'Volkswagen Vento Comfortline Diesel',
 'Volkswagen Vento Comfortline Petrol',
 'Volkswagen Vento Highline Plus 1.5 Diesel',
 'Volkswagen Vento Highline Plus 1.5 Diesel AT',
 'Volkswagen Vento Konekt Diesel Highline',
 'Volvo S80 Summum D4',
 'Well mentained Tata Sumo',
 'Yama',
 'all paper updated tata indica v2 and u',
 'i want sale my car.no emi....uber atta',
 'scratch less Tata I',
 'sell my car Maruti Suzuki Swif',
 'selling car Ta',
 'tata',
 'tata Indica',
 'tata zest 2017 f',
 'urgent sale Ta',
 'urgent sell my Mahindra qu',
 'very good condition tata bolts are av']

In [11]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

1. car['year'] - all values are not in integer
2. car['Price'] - Need to change into integers- 'Ask for price', remove commas
3. car['company']- Some values are not company names
4. car['kms_driven'] - 'petrol' value and need to convert to integers
5.car['name']<br>
I want to sell my commercial car due t<br>
i want sale my car.no emi....uber atta<br>
Tata ZEST 6 month old<br>
all paper updated tata indica v2 and u<br>
Well mentained Tata Sumo<br>
scratch less Tata I<br>
sell my car Maruti Suzuki Swif<br>
Maruti Suzuki Swift Dzire good car fo<br>
urgent sale Ta<br>
Maruti Suzuki Swift Select Variant<br>
Any type car avaiabel hare...comercica<br>

<h1><b>Cleaning the data

In [12]:
backup =car.copy()

In [13]:
backup.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [121]:
car=backup.copy()

In [122]:
#filter out cars that have years
car=car[car['year'].str.isnumeric()]
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [123]:
#convert to integer
car['year'].astype(int)

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int64

In [124]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [125]:
car['year'].isnull().sum()

0

In [126]:
car=car[car['Price']!='Ask For Price']
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel

In [127]:
car['Price']=car['Price'].str.replace(",","").astype(int)

<ipython-input-127-b6f8189367d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(",","").astype(int)

In [128]:
car['Price'].astype(int)

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64

In [129]:
car['year'].astype(int)

0      2007
1      2006
3      2014
4      2014
6      2012
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 819, dtype: int64

In [130]:
car["year"] = car["year"].astype(str).astype(int)

<ipython-input-130-a6ed981271d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car["year"] = car["year"].astype(str).astype(int)

In [131]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [132]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [133]:
car=car[car['kms_driven']!='Petrol']

In [134]:
car['kms_driven']=car['kms_driven'].str.replace(',','')

In [135]:
car['kms_driven']

0       45000 kms
1          40 kms
3       28000 kms
4       36000 kms
6       41000 kms
          ...
883     50000 kms
885     30000 kms
886    132000 kms
888     27000 kms
889     40000 kms
Name: kms_driven, Length: 817, dtype: object

In [136]:
#checking all are in same format

import re
expected_format = r'\d+\s+kms'
valid_values = car['kms_driven'].apply(lambda x: bool(re.match(expected_format, x)))
print(valid_values.unique())

[ True]

In [137]:
#removing kms
car['kms_driven']=car['kms_driven'].str[:-4]

In [138]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: object

In [139]:
car['kms_driven']=car['kms_driven'].astype(int)
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: int64

In [140]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [141]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [142]:
car['fuel_type'].dropna(inplace=True)
car['fuel_type']

0      Petrol
1      Diesel
3      Petrol
4      Diesel
6      Diesel
        ...
883    Petrol
885    Diesel
886    Petrol
888    Diesel
889    Diesel
Name: fuel_type, Length: 817, dtype: object

In [154]:
values_to_include = ['Petrol', 'Diesel','LPG']
filtered_df = car[car['fuel_type'].isin(values_to_include)]

In [156]:
car=filtered_df
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [160]:
sorted(car['company'].unique())

['Audi',
 'BMW',
 'Chevrolet',
 'Datsun',
 'Fiat',
 'Force',
 'Ford',
 'Hindustan',
 'Honda',
 'Hyundai',
 'Jaguar',
 'Jeep',
 'Land',
 'Mahindra',
 'Maruti',
 'Mercedes',
 'Mini',
 'Mitsubishi',
 'Nissan',
 'Renault',
 'Skoda',
 'Tata',
 'Toyota',
 'Volkswagen',
 'Volvo']

In [162]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
811,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
812,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
813,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
815,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [168]:
car['company_name']=car['name'].str.split().str[0]
car.drop('company_name',axis=1)

<ipython-input-168-2f8bf6aa6260>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['company_name']=car['name'].str.split().str[0]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [169]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [179]:
#from above distribution its not possible to have such a high diffrence in max values, so we will delete the values
#only one car above 50 lakh
car[car['Price']>5e+06]

,name,company,year,Price,kms_driven,fuel_type,company_name
562,Mahindra XUV500 W6,Mahindra,2014,8500003,45000,Diesel,Mahindra

In [181]:
car=car[car['Price']<5e+06]
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [182]:
car.to_csv('cleaned_car.csv')

In [196]:
car['name']=car['name'].str.replace('Mercedes Benz','Mercedes')
car['name']=car['name'].str.replace('Hindustan Motors','Hindustan')

In [197]:
sorted(car['name'].unique())

['Audi A3 Cabriolet 40 TFSI',
 'Audi A4 1.8 TFSI Multitronic Premium Plus',
 'Audi A4 2.0 TDI 177bhp Premium',
 'Audi A6 2.0 TDI Premium',
 'Audi A8',
 'Audi Q3 2.0 TDI quattro Premium',
 'Audi Q5 2.0 TDI quattro Premium Plus',
 'Audi Q7',
 'BMW 3 Series 320d Sedan',
 'BMW 3 Series 320i',
 'BMW 5 Series 520d Sedan',
 'BMW 5 Series 530i',
 'BMW 7 Series 740Li Sedan',
 'BMW X1',
 'BMW X1 sDrive20d',
 'BMW X1 xDrive20d xLine',
 'Chevrolet Beat',
 'Chevrolet Beat Diesel',
 'Chevrolet Beat LS Diesel',
 'Chevrolet Beat LS Petrol',
 'Chevrolet Beat LT Diesel',
 'Chevrolet Beat LT Opt Diesel',
 'Chevrolet Beat LT Petrol',
 'Chevrolet Beat PS Diesel',
 'Chevrolet Cruze LTZ',
 'Chevrolet Cruze LTZ AT',
 'Chevrolet Enjoy',
 'Chevrolet Enjoy 1.4 LS 8 STR',
 'Chevrolet Sail 1.2 LS',
 'Chevrolet Sail UVA Petrol LT ABS',
 'Chevrolet Spark',
 'Chevrolet Spark 1.0 LT',
 'Chevrolet Spark LS 1.0',
 'Chevrolet Spark LT 1.0',
 'Chevrolet Spark LT 1.0 Airbag',
 'Chevrolet Tavera LS B3 10 Seats BSII',
 'Chevrolet Tavera Neo',
 'Datsun GO T O',
 'Datsun Go Plus',
 'Datsun Redi GO',
 'Datsun Redi GO S',
 'Datsun Redi GO T O',
 'Fiat Linea Emotion 1.4 L T Jet Petrol',
 'Fiat Petra ELX 1.2 PS',
 'Fiat Punto Emotion 1.2',
 'Force Motors Force One LX ABS 7 STR',
 'Force Motors One SUV',
 'Ford EcoSport',
 'Ford EcoSport Ambiente 1.5L TDCi',
 'Ford EcoSport Titanium 1.5 TDCi',
 'Ford EcoSport Titanium 1.5L TDCi',
 'Ford EcoSport Trend 1.5 Ti VCT',
 'Ford EcoSport Trend 1.5L TDCi',
 'Ford EcoSport Trend 1.5L Ti VCT',
 'Ford Endeavor 4x4 Thunder Plus',
 'Ford Fiesta',
 'Ford Fiesta SXi 1.6 ABS',
 'Ford Figo',
 'Ford Figo Diesel EXI',
 'Ford Figo Diesel EXI Option',
 'Ford Figo Duratorq Diesel Titanium 1.4',
 'Ford Figo Petrol LXI',
 'Ford Figo Petrol Titanium',
 'Ford Fusion 1.4 TDCi Diesel',
 'Ford Ikon 1.3 CLXi NXt Finesse',
 'Ford Ikon 1.3 Flair Josh 100',
 'Ford Ikon 1.6 Nxt',
 'Hindustan Ambassador',
 'Hindustan Ambassador Classic Mark 4 – Befo',
 'Honda Accord',
 'Honda Amaze',
 'Honda Amaze 1.2 S i VTEC',
 'Honda Amaze 1.2 VX i VTEC',
 'Honda Amaze 1.5 E i DTEC',
 'Honda Amaze 1.5 S i DTEC',
 'Honda Amaze 1.5 SX i DTEC',
 'Honda Brio',
 'Honda Brio V MT',
 'Honda Brio VX AT',
 'Honda City',
 'Honda City 1.5 E MT',
 'Honda City 1.5 EXi New',
 'Honda City 1.5 S Inspire',
 'Honda City 1.5 S MT',
 'Honda City 1.5 V AT',
 'Honda City 1.5 V MT',
 'Honda City 1.5 V MT Exclusive',
 'Honda City SV',
 'Honda City VX O MT Diesel',
 'Honda City VX Petrol',
 'Honda City ZX CVT',
 'Honda City ZX EXi',
 'Honda City ZX GXi',
 'Honda City ZX VTEC',
 'Honda Jazz S MT',
 'Honda Jazz VX MT',
 'Honda Mobilio',
 'Honda Mobilio S i DTEC',
 'Honda WR V S MT Petrol',
 'Hyundai Accent',
 'Hyundai Accent Executive Edition',
 'Hyundai Accent GLE',
 'Hyundai Accent GLX',
 'Hyundai Creta',
 'Hyundai Creta 1.6 SX',
 'Hyundai Creta 1.6 SX Plus Petrol',
 'Hyundai Creta 1.6 SX Plus Petrol AT',
 'Hyundai Elantra 1.8 S',
 'Hyundai Elantra SX',
 'Hyundai Elite i20',
 'Hyundai Elite i20 Asta 1.2',
 'Hyundai Elite i20 Asta 1.4 CRDI',
 'Hyundai Elite i20 Magna 1.2',
 'Hyundai Elite i20 Sportz 1.2',
 'Hyundai Eon',
 'Hyundai Eon D Lite Plus',
 'Hyundai Eon Era Plus',
 'Hyundai Eon Magna',
 'Hyundai Eon Magna Plus',
 'Hyundai Eon Sportz',
 'Hyundai Fluidic Verna 1.6 CRDi SX',
 'Hyundai Getz',
 'Hyundai Getz GLE',
 'Hyundai Getz Prime 1.3 GLX',
 'Hyundai Getz Prime 1.3 GVS',
 'Hyundai Grand i10',
 'Hyundai Grand i10 Asta 1.1 CRDi',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
 'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
 'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
 'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
 'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
 'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
 'Hyundai Santro',
 'Hyundai Santro AE GLS Audio',
 'Hyundai Santro Xing',
 'Hyundai Santro Xing GL',
 'Hyundai Santro Xing GLS',
 'Hyundai Santro Xing XL AT eRLX Euro III',
 'Hyundai Santro Xing XL eRLX Euro III',
 'Hyundai Santro Xing XO eRLX Euro III',
 'Hyundai Santro Xing XS',
 'Hyundai Sonata Transform 2.4 GDi MT',
 'Hyundai Verna',
 'Hyundai Verna 1.4 VTVT',
 'Hyundai Verna 1.6 CRDI E',
 'Hyundai Verna 1.6 CRDI SX',
 'Hyundai Verna 1.6 CRDI SX Plus AT',
 'Hyundai Verna 1.6 EX VTVT',
 'Hyundai Verna 1.6 SX VTVT AT',
 'Hyundai Verna Fluidic',
 'Hyundai Verna Fluidic 1.6 VTVT SX',
 'Hyundai Verna Fluidic New',
 'Hyundai Verna Transform SX VTVT',
 'Hyundai Verna VGT CRDi SX ABS',
 'Hyundai Xcent Base 1.1 CRDi',
 'Hyundai Xcent SX 1.2',
 'Hyundai i10',
 'Hyundai i10 Era',
 'Hyundai i10 Magna 1.2',
 'Hyundai i10 Magna 1.2 Kappa2',
 'Hyundai i10 Sportz',
 'Hyundai i10 Sportz 1.2',
 'Hyundai i20',
 'Hyundai i20 Active',
 'Hyundai i20 Active 1.2 SX',
 'Hyundai i20 Active 1.4L SX O',
 'Hyundai i20 Asta',
 'Hyundai i20 Asta 1.2',
 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
 'Hyundai i20 Magna',
 'Hyundai i20 Magna 1.2',
 'Hyundai i20 Magna O 1.2',
 'Hyundai i20 Select Variant',
 'Hyundai i20 Sportz 1.2',
 'Hyundai i20 Sportz 1.4 CRDI',
 'Jaguar XE XE Portfolio',
 'Jaguar XF 2.2 Diesel Luxury',
 'Jeep Wrangler Unlimited 4x4 Diesel',
 'Land Rover Freelander 2 SE',
 'Mahindra Bolero DI',
 'Mahindra Bolero DI BSII',
 'Mahindra Bolero Power Plus SLE',
 'Mahindra Bolero SLE BS IV',
 'Mahindra Jeep CL550 MDI',
 'Mahindra Jeep MM 550 XDB',
 'Mahindra KUV100',
 'Mahindra KUV100 K8 6 STR',
 'Mahindra KUV100 K8 D 6 STR',
 'Mahindra Logan',
 'Mahindra Logan Diesel 1.5 DLS',
 'Mahindra Quanto C4',
 'Mahindra Quanto C8',
 'Mahindra Scorpio',
 'Mahindra Scorpio 2.6 CRDe',
 'Mahindra Scorpio 2.6 SLX',
 'Mahindra Scorpio LX BS III',
 'Mahindra Scorpio S10',
 'Mahindra Scorpio S10 4WD',
 'Mahindra Scorpio S4',
 'Mahindra Scorpio SLE BS IV',
 'Mahindra Scorpio SLX',
 'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
 'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
 'Mahindra Scorpio VLX 2WD BS IV',
 'Mahindra Scorpio VLX 4WD Airbag',
 'Mahindra Scorpio VLX Airbag',
 'Mahindra Scorpio VLX Special Edition BS III',
 'Mahindra Scorpio Vlx BSIV',
 'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
 'Mahindra TUV300 T4 Plus',
 'Mahindra TUV300 T8',
 'Mahindra Thar CRDe 4x4 AC',
 'Mahindra XUV500',
 'Mahindra XUV500 W10',
 'Mahindra XUV500 W6',
 'Mahindra XUV500 W8',
 'Mahindra XUV500 W8 AWD 2013',
 'Mahindra Xylo D2',
 'Mahindra Xylo D2 BS IV',
 'Mahindra Xylo E4',
 'Mahindra Xylo E8',
 'Mahindra Xylo E8 BS IV',
 'Maruthi 800',
 'Maruthi 800 Std BS III',
 'Maruthi A Star Lxi',
 'Maruthi Alto',
 'Maruthi Alto 800',
 'Maruthi Alto 800 LXI CNG O',
 'Maruthi Alto 800 Lx',
 'Maruthi Alto 800 Lxi',
 'Maruthi Alto 800 Vxi',
 'Maruthi Alto AX',
 'Maruthi Alto K10 LXi CNG',
 'Maruthi Alto K10 New',
 'Maruthi Alto K10 VXi',
 'Maruthi Alto K10 VXi AMT',
 'Maruthi Alto K10 VXi AT',
 'Maruthi Alto LX',
 'Maruthi Alto LXi BS III',
 'Maruthi Alto Std BS IV',
 'Maruthi Baleno Delta 1.2',
 'Maruthi Baleno Sigma 1.2',
 'Maruthi Baleno Zeta 1.2',
 'Maruthi Celerio VDi',
 'Maruthi Ciaz VXi Plus',
 'Maruthi Ciaz ZXI Plus',
 'Maruthi Ciaz ZXi Plus RS',
 'Maruthi Dzire',
 'Maruthi Dzire LDI',
 'Maruthi Dzire VDI',
 'Maruthi Dzire ZXI',
 'Maruthi Eeco 5 STR WITH AC HTR',
 'Maruthi Eeco 7 STR',
 'Maruthi Ertiga',
 'Maruthi Ertiga LDi',
 'Maruthi Ertiga VDi',
 'Maruthi Ertiga Vxi',
 'Maruthi Ertiga ZXI Plus',
 'Maruthi Ertiga ZXi',
 'Maruthi Esteem LXi BS III',
 'Maruthi Esteem VXi BS III',
 'Maruthi Estilo LX BS IV',
 'Maruthi Estilo VXi ABS BS IV',
 'Maruthi Maruti 800 AC',
 'Maruthi Maruti 800 Std',
 'Maruthi Maruti 800 Std – Befo',
 'Maruthi Omni',
 'Maruthi Omni 8 STR BS III',
 'Maruthi Omni E 8 STR BS IV',
 'Maruthi Omni LPG BS IV',
 'Maruthi Omni Limited Edition',
 'Maruthi Omni Select Variant',
 'Maruthi Ritz',
 'Maruthi Ritz GENUS VXI',
 'Maruthi Ritz LDi',
 'Maruthi Ritz VDi',
 'Maruthi Ritz VXI',
 'Maruthi Ritz VXI ABS',
 'Maruthi S Cross Sigma 1.3',
 'Maruthi SX4',
 'Maruthi SX4 Celebration Diesel',
 'Maruthi SX4 ZXI MT',
 'Maruthi Stingray VXi',
 'Maruthi Swift',
 'Maruthi Swift Dzire',
 'Maruthi Swift Dzire Tour LDi',
 'Maruthi Swift Dzire Tour LXi',
 'Maruthi Swift Dzire Tour VDi',
 'Maruthi Swift Dzire Tour VXi',
 'Maruthi Swift Dzire VDi',
 'Maruthi Swift Dzire VXi 1.2 BS IV',
 'Maruthi Swift Dzire ZDi',
 'Maruthi Swift GLAM',
 'Maruthi Swift LDi',
 'Maruthi Swift RS VDI',
 'Maruthi Swift Select Variant',
 'Maruthi Swift VDi',
 'Maruthi Swift VDi ABS',
 'Maruthi Swift VDi BS IV',
 'Maruthi Swift VXI BSIII',
 'Maruthi Swift VXi 1.2 ABS BS IV',
 'Maruthi Swift VXi 1.2 BS IV',
 'Maruthi Swift Vdi BSIII',
 'Maruthi Swift ZXi 1.2 BS IV',
 'Maruthi Versa DX2 8 SEATER BSIII',
 'Maruthi Vitara Brezza',
 'Maruthi Vitara Brezza LDi O',
 'Maruthi Vitara Brezza ZDi',
 'Maruthi Wagon R',
 'Maruthi Wagon R 1.0',
 'Maruthi Wagon R 1.0 VXi',
 'Maruthi Wagon R AX BSIV',
 'Maruthi Wagon R Duo Lxi',
 'Maruthi Wagon R LX BS III',
 'Maruthi Wagon R LX BS IV',
 'Maruthi Wagon R LXI BS IV',
 'Maruthi Wagon R LXi BS III',
 'Maruthi Wagon R Select Variant',
 'Maruthi Wagon R VXI BS IV',
 'Maruthi Wagon R VXi BS III',
 'Maruthi Wagon R VXi Minor',
 'Maruthi Zen Estilo',
 'Maruthi Zen Estilo LXI Green CNG',
 'Maruthi Zen LX BSII',
 'Maruthi Zen LXi BS III',
 'Maruthi Zen LXi BSII',
 'Maruthi Zen VX',
 'Mercedes A Class A 180 Sport Petrol',
 'Mercedes B Class B180 Sports',
 'Mercedes C Class 200 CDI Classic',
 'Mercedes C Class 200 K MT',
 'Mercedes C Class C 220 CDI Avantgarde',
 'Mercedes GLA Class 200 CDI Sport',
 'Mini Cooper S',
 'Mini Cooper S 1.6',
 'Mitsubishi Lancer 1.8 LXi',
 'Mitsubishi Pajero Sport 2.5 AT',
 'Mitsubishi Pajero Sport Limited Edition',
 'Nissan Micra XL',
 'Nissan Micra XV',
 'Nissan Sunny',
 'Nissan Sunny XL',
 'Nissan Terrano XL D Plus',
 'Nissan X Trail Select Variant',
 'Renault Duster',
 'Renault Duster 110 PS RxL Diesel',
 'Renault Duster 110 PS RxZ Diesel',
 'Renault Duster 110 PS RxZ Diesel Plus',
 'Renault Duster 110PS Diesel RxZ',
 'Renault Duster 85 PS RxE Diesel',
 'Renault Duster 85 PS RxL Diesel',
 'Renault Duster 85 PS RxL Explore LE',
 'Renault Duster 85PS Diesel RxL Optional with Nav',
 'Renault Duster RxL Petrol',
 'Renault Kwid',
 'Renault Kwid 1.0',
 'Renault Kwid 1.0 RXT AMT',
 'Renault Kwid RXT',
 'Renault Kwid RXT Opt',
 'Renault Lodgy 85 PS RXL',
 'Renault Scala RxL Diesel',
 'Renault Scala RxL Diesel Travelogue',
 'Skoda Fabia',
 'Skoda Fabia 1.2L Diesel Ambiente',
 'Skoda Fabia 1.2L Diesel Elegance',
 'Skoda Fabia Classic 1.2 MPI',
 'Skoda Laura',
 'Skoda Octavia Classic 1.9 TDI MT',
 'Skoda Rapid Elegance 1.6 TDI CR MT',
 'Skoda Superb 1.8 TFSI AT',
 'Skoda Yeti Ambition 2.0 TDI CR 4x2',
 'Tata Aria Pleasure 4X2',
 'Tata Bolt XM Petrol',
 'Tata Indica',
 'Tata Indica V2',
 'Tata Indica V2 DLE BS III',
 'Tata Indica V2 DLG',
 'Tata Indica V2 DLS BS III',
 'Tata Indica V2 DLX BS III',
 'Tata Indica V2 LS',
 'Tata Indica V2 Xeta e GLE',
 'Tata Indica V2 eLS',
 'Tata Indica eV2 LS',
 'Tata Indica eV2 eXeta eGLX',
 'Tata Indigo CS',
 'Tata Indigo CS GLS',
 'Tata Indigo CS LS DiCOR',
 'Tata Indigo CS eLS BS IV',
 'Tata Indigo CS eLX BS IV',
 'Tata Indigo LS',
 'Tata Indigo LX TDI BS III',
 'Tata Indigo Marina LS',
 'Tata Indigo eCS',
 'Tata Indigo eCS LS CR4 BS IV',
 'Tata Indigo eCS LX CR4 BS IV',
 'Tata Indigo eCS LX TDI BS III',
 'Tata Indigo eCS VX CR4 BS IV',
 'Tata Manza',
 'Tata Manza Aqua Quadrajet',
 'Tata Manza Aura Quadrajet',
 'Tata Manza ELAN Quadrajet',
 'Tata Nano',
 'Tata Nano Cx BSIV',
 'Tata Nano GenX XMA',
 'Tata Nano LX Special Edition',
 'Tata Nano Lx BSIV',
 'Tata Sumo Gold EX BS IV',
 'Tata Sumo Gold FX BSIII',
 'Tata Sumo Gold LX BS IV',
 'Tata Sumo Gold Select Variant',
 'Tata Sumo Grande MKII GX',
 'Tata Sumo Victa EX 10 by 7 Str BSIII',
 'Tata Tiago Revotorq XZ',
 'Tata Tiago Revotron XM',
 'Tata Tiago Revotron XZ',
 'Tata Tigor Revotron XZ',
 'Tata Venture EX 8 STR',
 'Tata Vista Quadrajet VX',
 'Tata Zest Quadrajet 1.3',
 'Tata Zest XE 75 PS Diesel',
 'Tata Zest XM Diesel',
 'Toyota Corolla',
 'Toyota Corolla Altis',
 'Toyota Corolla Altis 1.8 GL',
 'Toyota Corolla Altis 1.8 J',
 'Toyota Corolla Altis Diesel D4DG',
 'Toyota Corolla Altis GL Petrol',
 'Toyota Corolla Altis Petrol Ltd',
 'Toyota Corolla Altis VL AT Petrol',
 'Toyota Corolla H2',
 'Toyota Etios',
 'Toyota Etios G',
 'Toyota Etios GD',
 'Toyota Etios Liva',
 'Toyota Etios Liva Diesel',
 'Toyota Etios Liva G',
 'Toyota Etios Liva GD',
 'Toyota Fortuner',
 'Toyota Fortuner 3.0 4x2 MT',
 'Toyota Fortuner 3.0 4x4 MT',
 'Toyota Innova 2.0 G 8 STR BS IV',
 'Toyota Innova 2.0 G4',
 'Toyota Innova 2.5 E 8 STR',
 'Toyota Innova 2.5 E MS 7 STR BS IV',
 'Toyota Innova 2.5 G BS III 8 STR',
 'Toyota Innova 2.5 GX BS IV 7 STR',
 'Toyota Innova 2.5 V 7 STR',
 'Toyota Innova 2.5 Z Diesel 7 Seater',
 'Toyota Qualis',
 'Volkswagen Jetta Comfortline 1.9 TDI AT',
 'Volkswagen Jetta Highline TDI AT',
 'Volkswagen Passat Diesel Comfortline AT',
 'Volkswagen Polo',
 'Volkswagen Polo Comfortline 1.2L P',
 'Volkswagen Polo Highline Exquisite P',
 'Volkswagen Polo Highline1.2L P',
 'Volkswagen Polo Trendline 1.5L D',
 'Volkswagen Vento Comfortline Diesel',
 'Volkswagen Vento Comfortline Petrol',
 'Volkswagen Vento Highline Plus 1.5 Diesel AT',
 'Volkswagen Vento Konekt Diesel Highline',
 'Volvo S80 Summum D4']

In [ ]:
car['name']=car['name'].str.replace('','Maruthi')

In [201]:
#taking first 3 words of each carnmae
car['name'] = car['name'].str.split().str[:3].apply(' '.join)
car.head()

,name,company,year,Price,kms_driven,fuel_type,company_name
0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol,Hyundai
1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel,Mahindra
3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol,Hyundai
4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel,Ford
6,Ford Figo,Ford,2012,175000,41000,Diesel,Ford

<h><b>MODEL BUILDING

In [234]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [236]:
label_encoders = {}
for column_name in ['name','company','fuel_type']:
    le = LabelEncoder()
    car[column_name] = le.fit_transform(car[column_name])
    label_encoders[column_name] = le

print(car)

     name  company  year   Price  kms_driven  fuel_type company_name
0      92        9  2007   80000       45000          2      Hyundai
1     119       13  2006  425000          40          0     Mahindra
3      89        9  2014  325000       28000          2      Hyundai
4      40        6  2014  575000       36000          0         Ford
6      45        6  2012  175000       41000          0         Ford
..    ...      ...   ...     ...         ...        ...          ...
883   191       14  2011  270000       50000          2       Maruti
885   250       21  2009  110000       30000          0         Tata
886   278       22  2009  300000      132000          2       Toyota
888   276       21  2018  260000       27000          0         Tata
889   126       13  2013  390000       40000          0     Mahindra

[815 rows x 7 columns]

In [237]:
car.drop('company_name',axis=1)

     name  company  year   Price  kms_driven  fuel_type
0      92        9  2007   80000       45000          2
1     119       13  2006  425000          40          0
3      89        9  2014  325000       28000          2
4      40        6  2014  575000       36000          0
6      45        6  2012  175000       41000          0
..    ...      ...   ...     ...         ...        ...
883   191       14  2011  270000       50000          2
885   250       21  2009  110000       30000          0
886   278       22  2009  300000      132000          2
888   276       21  2018  260000       27000          0
889   126       13  2013  390000       40000          0

[815 rows x 6 columns]

In [238]:
x= car.drop(columns=['Price','company_name'])
y=car['Price']

In [239]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [240]:
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [242]:
y_pred = lr.predict(X_test)

In [244]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 178716585397.95624

In [245]:
r2_score(y_test,y_pred)

0.12239386583887601

<b>PREDICTION

In [ ]:
new_data = {'': ['Toyota'],
            'mileage': [27]}  # Provide feature values for prediction
df_new = pd.DataFrame(new_data)
df_new_encoded = pd.get_dummies(df_new, columns=['car_brand'], drop_first=True)
predicted_price = model.predict(df_new_encoded)

# Display the predicted price
print("Predicted Price:", predicted_price)